main, body {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
}

main {
    justify-items: center;
    display: grid;
}

body {
    background: linear-gradient(rgba(14,0,255,1) 0%, #121212 13%, #121212 87%, rgba(255,0,0,1) 100%);
}

header {
    background-color: black;
    text-align: center;
}

hr {
    border-color:rgb(0, 127, 224);
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: right;
}

footer img{
    max-width: 100%;
    width: 40%;
}

footer {
    display: flex;
    justify-content: center;
}

svg {
    fill: white;
}

.container {
    background-color: rgb(0, 73, 127);
    color: white;
    width: 75%;
    align-self: center;
    box-shadow: 0 0 40px 20px rgb(0, 92, 162);
}

.textBox {
    padding: 2rem;
    line-height: 2rem;
}

p.contactDetails {
    line-height: normal;
    font-size: 12px;
}

.sidePanelMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidePanelMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidePanelMenu a:hover {
    color: #f1f1f1;
}

.openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.logo {
    width: 40%;
}

span.smallText {
    color:lightgray;
    font-size: smaller;
}

.modeButton {
    background-color: transparent;
    border: none;
    font-size: xx-large;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .logo {
        width: 100%;
    }
}

a {
    color: white;
    font-weight: bold;
}

/* :root {
    --dark: #1d1c1b;
    --light: #f2f0e4;
    --orange: #d96b52;
    --red: #d95e52;
    --gray: #404e64;
  
    --color-primary-light: hsl(200, 100%, 76%);
    --color-primary-light-transparent: hsla(343, 100%, 53%, 0.8);
    --color-primary-dark: #00497f;
    --color-primary-dark-transparent: hsla(343, 80%, 53%, 0.8);
    --color-bg: var(--light);
    --color-fg: var(--dark);
    --color-primary: var(--color-primary-dark);
    --color-primary-transparent: var(--color-primary-dark-transparent);
    --cover-gradient: linear-gradient(
      to right,
      var(--color-fg),
      var(--color-primary)
    );
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: var(--dark);
      --color-fg: var(--light);
      --color-primary: var(--color-primary-dark);
      --color-primary-transparent: var(--color-primary-dark-transparent);
      --cover-gradient: linear-gradient(
        to right,
        var(--color-primary),
        var(--color-bg)
      );
    }
  }
  
  html {
    color-scheme: dark light;
  }
  body {
    color: var(--color-fg);
    background-color: var(--color-bg);
  } */
  
  [data-theme="light"] {
    body {
        background: linear-gradient(rgb(101, 93, 255) 0%, #cae1f0 13%, #cae1f0 87%, rgb(254, 100, 100) 100%);
    }

    .container {
        background-color: rgb(189, 226, 255);
        color: #12205e;
        width: 75%;
        align-self: center;
        box-shadow: 0 0 40px 20px rgb(189, 226, 255);
    }

    span.smallText {
        color: #12205e;
        font-size: smaller;
    }
  }

.darkIcon {
    display: none;
}
.lightIcon {
    display: block;
}
html[data-theme="dark"] .darkIcon {
    display: block;
}
html[data-theme="dark"] .lightIcon {
    display: none;
}
html[data-theme="light"] .darkIcon {
    display: none;
}
html[data-theme="light"] .lightIcon {
    display: block;
}