main, body {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
}

main {
    justify-items: center;
    display: grid;
}

body {
    background: linear-gradient(rgba(14,0,255,1) 0%, rgba(0,0,0,1) 13%, rgba(0,0,0,1) 87%, rgba(255,0,0,1) 100%);
}

header {
    background-color: black;
    text-align: center;
}

hr {
    border-color:rgb(0, 127, 224);
    margin-top: 0;
}

.container {
    background-color: rgb(0, 73, 127);
    color: white;
    width: 75%;
    align-self: center;
    box-shadow: 0 0 40px 20px rgb(0, 92, 162);
}

.textBox {
    padding: 2rem;
    line-height: 2rem;
}

p.contactDetails {
    line-height: normal;
}

.sidePanelMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidePanelMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidePanelMenu a:hover {
    color: #f1f1f1;
}

.sidePanelMenu closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
}

.logo {
    width: 40%;
}

@media only screen and (max-width: 1000px) {
    .logo {
        width: 100%;
    }
}

a {
    color: white;
    font-weight: bold;
}